/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

.highlight-white {
    box-shadow: inset 0 0 3px 3px yellow;
}
.highlight-black {
    box-shadow: inset 0 0 3px 3px blue;
}

/*
 * Promotion dialog
 */

#promotion-dialog {
    display: none;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
}

.ui-dialog {
    padding: 0 !important;
    width: 184px !important;
    border: 0 !important;
    outline: 0 !important;
}

.ui-dialog-content {
    padding: 0 !important;
    width: 184px !important;
    border: 0 !important;
    outline: 0 !important;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0 !important;
}

#promote-to .ui-selecting {
    background: #FECA40;
}

#promote-to .ui-selected {
    background: #F39814;
    color: white;
}

#promote-to {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 184px;
    height: 46px;
}

#promote-to li {
    margin: 0;
    padding: 0;
    width: 46px;
    height: 46px;
    cursor: pointer;
    float: left !important;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.noTitleStuff .ui-dialog-titlebar {
    display: none;
}

.promotion-piece {
    width: 46px;
    height: 46px;
}

.piece-name {
    display: none;
}